.checkoutPage {
    padding: 40px 0;
    background-color: #f8f8f8;
    min-height: calc(100vh - 120px);
}

.checkoutPage h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
    color: #2d2d2d;
}

.checkoutPage p {
    color: #666;
    font-size: 0.9rem;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 80px;
}

.items {
    flex: 20%;
    min-width: 200px;
    height: auto;
    margin: 0 20px;
}

.forms {
    flex: 50%;
    flex-direction: column;
    margin: 0 20px;
}

.placeOrderButton {
    margin-top: 30px;
    min-width: 200px;
    padding: 0.75em 1.5em;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    background-color: #7fffd4;
    border: solid 1px #2f4f4f;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.placeOrderButton:active {
    background-color: #4bbf94;
}

@media (max-width: 600px) {
    .container {
      flex-direction: column;
      max-width: 100%;
      gap:20px;
      padding: 0 20px;
    }
}