.container {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    font-size: clamp(0.875rem, 2vw, 0.875rem);
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #2d2d2d;
}

.container h2{
    margin: 0.5em auto;
    text-align: center;
}

.container p {
    text-align: left;
    margin-bottom: 20px;
}

.formField label{
    display: block;
    margin: 0.5rem 0;
    text-align: left;
    font-weight: 500;
}

.formField input {
    display: block;
    margin: 10px 0 0 0;
    width: 90%;
    min-height: 1.5em;
}

.submitButton {
    margin: 10px 0 0 0;
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #333;
}